// main: ../style.less

.path-frontpage {
  .page-header {
    display: none;
  }

  .view-header {
    position: relative;
    text-align: center;

    a {
      position: relative;
      padding: 0 20px;
      background-color: @background;
      text-decoration: none;

      &:hover {
        &:after {
          background-color: @main-color;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 5px;
        background-color: transparent;
        transition: all .3s ease-in-out;
      }
    }
    h3 {
      margin-top: 0;
    }
    h3:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: -1;
    }
  }

  .view-frontpage {
    .view-content {
      text-align: center;
      font-size: 0;
      margin-left: -10px;
      margin-right: -10px;
    }
    .views-row {
      display: inline-block;
      vertical-align: top;
      max-width: 50%;
      padding-right: 10px;
      padding-left: 10px;
      
      @media screen and (min-width: @screen-md) {
        max-width: 33.33%;

        &:nth-child(4) {
          display: none;
        }
      }
      
      @media screen and (min-width: @screen-lg) {
        max-width: 25%;

        &:nth-child(4n) {
          display: inline-block;
        }
      }
    }
  }

  .view-home-tutorials {
    > .contextual {
      display: none;
    }
    .views-row {
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #block-views-block-home-tutorials-block-1 {
    margin-bottom: 20px;
  }
  
  .block-adsense {
    display: none;
    padding: 20px 0;
    margin-bottom: 40px;

    background-image: url('../images/ad-background.jpg');
    
    @media screen and (min-width: @screen-sm) {
      display: block;
      margin-left: -20px;
      margin-right: -20px;
    }
    @media screen and (min-width: @screen-md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
