// main: style.less

@main-color: #904b4b;
@main-color-darker: darken(@main-color, 20%);
@main-color-lighter: lighten(@main-color, 20%);

@main-gray: #a0a0a0;
@main-gray-darker: darken(@main-gray, 20%);
@main-gray-lighter: lighten(@main-gray, 20%);

@black: #26252a;
@coal: #26252a;
@white: #ffffff;

@background: @white;

//== Media queries breakpoints
@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;
